---
import "../styles/global.css";
import Navigation from "../components/navigation.astro";

const pageTitle = "About Me";

const identity = {
  firstName: "Kevin Knights",
  country: "Panama",
  occupation: "Machine Learning Engineer",
};

const programmingLanguages = ["Python", "R", "SQL"];
const technicalSkills = [
  "Software Development",
  "Machine Learning",
  "Data Engineering",
  "Cloud Computing",
  "MLOps",
  "DevOps",
  "Process Automation",
  "Data Management",
  "Data Processing",
  "Metrics Development",
  "Quality Assurance/Control",
  "Documentation",
  "Agile Methodology",
  "Docker",
  "Tools & Platforms",
  "Version Control Systems",
];
const softSkills = [
  "Critical Thinking",
  "Problem-Solving",
  "Growth Mindset",
  "Effective Communication",
  "Leadership",
  "Innovation",
];
const languages = [
  "Spanish (Native)",
  "English (Fluent)",
  "Portuguese (Fluent)",
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{`${identity.firstName} - ${pageTitle}`}</title>
  </head>
  <body>
    <header>
      <h1>{pageTitle}</h1>
    </header>

    <nav>
      <Navigation />
    </nav>

    <main>
      <section>
        <h2>Intro</h2>
        <p>
          Hi, my name is {identity.firstName}. I am a {identity.occupation} from
          {identity.country}. I am, passionate about educating professionals and
          students in Artificial Intelligence (AI) and Machine Learning (ML),
          Conference Speaker, and a Microsoft Certified Trainer. Ever since
          embarking on my professional journey, becoming a Machine Learning
          Engineer has been one of my desired milestones. Today, I'm thriving as
          a Machine Learning Engineer and for that reason I want to empower
          other talents in LATAM to achieve their dreams in the Data and AI
          field.
        </p>
      </section>

      <section>
        <h2>Mission</h2>
        <p>
          My mission is to facilitate hands-on Data and ML learning for
          professionals and students, leading to successful careers and enhanced
          skills. Vision: Develop top-tier ML and data engineering talent,
          thereby creating, maximizing, and improving job opportunities in
          LATAM. Let's connect and explore how my expertise can advance your
          professional career in the Data and AI field.
        </p>
      </section>

      <section>
        <h2>Vission</h2>
        <p>
          My vission is to develop top-tier ML and data engineering talent,
          thereby creating, maximizing, and improving job opportunities in
          LATAM. Let's connect and explore how my expertise can advance your
          professional career in the Data and AI field.
        </p>
      </section>

      <section>
        <h2>Experience</h2>
        <p>
          Dell Technologies (IT & Services) Panama City, Panama<br />
          Machine Learning Engineer<br />
          Aug. 2023 - To Present<br />
          - Developed a Large Language Model (LLM) application leveraging Databricks'
          Dolly v2 open-source model, Python, and LangChain for use cases including
          product Q&A for sales and audience generation automation.<br />
          - Fine-tuned Meta's Llama v2 open-source LLM models to enable social media
          content generation based on Dell's marketing data to drive automation initiatives
          using Python and Hugging Face's Transformers library.<br />
          - Led an 80% performance increase in our translation engine by leveraging
          Spark and Python for distributed processing.<br /><br />

          Campaign Audience Data Engineer<br />
          June 2022 - Aug. 2023<br />
          - Built a global campaign lead pipeline for accounts shifting customer
          segments using Python, SQL, and Airflow that have generated over 50M USD
          in incremental revenue in a quarter.<br />
          - Collaborated on the development of a campaign automation solution, using
          Airflow and Docker, that reduced campaign execution times by over 50% and
          earned us the Geraldine Tunnell (Global Field and Partner Marketing SVP)
          Award, which is given once a year to highlight the highest achievements
          and successes within the organization.<br />
          - Contributed to the development and engineering of SQL triggers for the
          first US Small Business Reactivation campaign, that within a month drove
          26% higher revenue per buyer and 13% increase in reactivation rates.<br
          /><br />

          W. W. Grainger (Business Supplies & Equipment) - A Fortune 500
          Industrial Supply Giant. Panama City, Panama<br />
          Senior Operations Analyst<br />
          Aug. 2021 - May 2022<br />
          - Developed a Power Bi dashboard to monitor process performance, team metrics,
          and quality metrics, providing leadership with visibility into the progress
          of tasks and processes for the introduction of over 60,000 new products
          in Canada and Mexico.<br />
          - Automated a manual process involving the modification and addition of
          macros to over 100 Excel files per review using a Python script, reducing
          the process time from a minimum of 3 hours to 2 minutes.<br />
          - Constructed SQL queries to gather and analyze sales metrics (Items sold,
          Revenue, Profit, Profit Margin) for newly introduced products, providing
          insights into sales trends at 1, 3, and 6 months post-introduction.<br
          /><br />

          Dell Technologies (IT & Services) Panama City, Panama<br />
          Analyst, Services Project / Program Management<br />
          Feb. 2020 - July 2021<br />
          - Coordinated the utilization of over 10,000 USD in training credits by
          identifying available credits from customers in Brazil and planning necessary
          trainings with Brazil's Account Managers and Sales Representatives, leading
          to increased customer engagement and customer satisfaction.<br />
          - Collaborated with the Management Team to standardize the complexity report
          on customer incidents, enabling a more accurate estimation of productivity
          based on incident complexity levels.<br />
        </p>
      </section>

      <section>
        <h2>Skills</h2>
        <h3>Prograaming Languages</h3>
        <ul>
          {programmingLanguages.map((skill) => <li>{skill}</li>)}
        </ul>
        <h3>Technical Skills</h3>
        <ul>
          <Fragment>
            {technicalSkills.map((skill) => <li>{skill}</li>)}
          </Fragment>`.
        </ul>
        <h3>Soft Skills</h3>
        <ul>
          {softSkills.map((skill) => <li>{skill}</li>)}
        </ul>
        <h3>Languages</h3>
        <ul>
          {languages.map((skill) => <li>{skill}</li>)}
        </ul>
      </section>

      <footer>
        <p>&copy; 2024 My Blog. All rights reserved.</p>
      </footer>
    </main>
  </body>
</html>
